<div data-role="page" id="communityEmpListPage" class="nd2-no-menu-swipe">	
	<style>
		.mdl-tabs__tab{
			width:50%;
			padding:0;
		}
		
				nd2Tabs li {		
				display: inline-block;
				width:49%;
				line-height: 48px;
				text-align: center;
				font-weight: 500;
				text-transform: uppercase;
				font-size: 14px;
			
				cursor: pointer;
				color: #747474;
			
				-webkit-transition: all 0.4s;
				-moz-transition: all 0.4s;
				-ms-transition: all 0.4s;
				-o-transition: all 0.4s;
				transition: all 0.4s;
	
			}
			
			.nd2Tabs li:hover {
				color: #8bc34a;
			}
			
			.nd2Tabs .nd2Tabs-active {
				color: #8bc34a;
				position: relative;
				font-weight: bold;
			}
			
			.nd2Tabs .nd2Tabs-active:after {
			
					content : "";
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: #8bc34a;
					bottom: 0px;
					left: 0px;
			
					-webkit-animation: zoomIn 0.4s;
					-moz-animation: zoomIn 0.4s;
					-ms-animation: zoomIn 0.4s;
					-o-animation : zoomIn 0.4s;
					animation : zoomIn 0.4s;			
			}
						
			.nd2-card .card-title.has-supporting-text {
			padding: 24px 16px 1px 16px;
			}

			.nd2-card {
				display: block;
				border-radius: 4px;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
				margin: 15px auto;
				max-width: 90%;
				overflow: hidden;				
			}
			
			.nd2-card.card-media-right.card-media-small .card-title { min-height: 56px; }
			.nd2-card.card-media-right.card-media-medium .card-title { min-height: 60px; }
			.nd2-card.card-media-right.card-media-large .card-title {  min-height: 128px;  }
	</style>      
	<nd2-include data-src="CommunityReadPanel.html"></nd2-include>
	<!-- Header 시작 --> 
	<div data-role="header" data-position="fixed">
		<div id="heading-1" class="ui-body ui-header">
			<div class="row" style="margin-top:10px"> 
				 <div class="col-xs-10" >
					<input type="search" name="searchText" id="searchText">
				</div>
				<div class="ui-input-btn ui-btn ui-icon-search ui-btn-icon-notext col-xs-2" >
					<input data-role="button" data-inline="true" onclick="javascript:communityEmpSearch(document.getElementById('searchText').value)">
				</div>
			</div>
		</div>		
	</div>
	<!-- Header 끝 -->
	<!-- content 시작 -->

	<div role="main" style="background-color:#F3F3F3">
		<form id="communityForm">		
			<input type="hidden" name="boardSeq" id="boardSeq" value="0">
			<input type="hidden" name="custmrSeq" id="custmrSeq" value="0">
			<input type="hidden" name="boardPw" id="boardPw" value="0">
		</form>
		<!-- MDL 판넬 메뉴 -->
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<!-- 담소방 리스트 시작 -->
			<div data-role="nd2tab" data-tab="popularity" >
				<div id="communityEmpList" data-role="listview" data-icon="false">
				</div>
			</div>						
		</div>
	    <!-- MDL 판넬 메뉴 -->
	</div>
	<!-- content 끝 -->
	<!-- Footer 시작 -->
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<nd2-include data-src="MainEmpBottom.html"></nd2-include>
	</div>	
	<!-- Footer 끝 -->
</div>