<div align="center">
	<font class="font-md" face="휴먼편지체">오늘은 무엇을 먹을 지 고민하지마세요!</font><br>
	<font class="font-md" face="휴먼편지체">아래 레시피를 오픈 하고</font><br>
	<font class="font-md" face="휴먼편지체">매일 색다른 식사를 하세요.</font>
</div>
<div align="center" style="margin-top:30px">
	<img src="../img/event_recp_img.png" style="width:90%; height:90%"/>
</div>
<div align="center" style="margin-top:30px">
	<a onclick="javascript:randomBoxDrawing()" class="ui-btn ui-btn-raised waves-effect waves-button waves-effect waves-button" style="width:60%">OPEN</a>
</div>
