<div id="DJNMainPart" align="center" style="position:relative; height:200px; background-color:white;">
	<font class="font-md"><b>이달의 대.장.남</b></font>
	<div style="position:absolute; top:20px; left:0px; width:100%; z-index:1;">
		<img src="../img/top_djn_effect.png" style="width:100%; height:75px"/>
	</div>
	<div id="thisMonthDJNImg" style="position:absolute; top:30px; left:0px; width:100%; z-index:100;">
	</div>
	<div style="position:absolute; top:135px; left:0px; width:100%; z-index:200;">
		<img src="../img/bottom_djn_effect.png" style="width:100%; height:70px"/>
	</div>
	<div id="thisMonthDJNNme" style="position:absolute; top:160px; left:0px; width:100%; z-index:300;">
	</div>
</div>

<div id="oneCard" onclick="javascript:oneCardClick(false)" class="nd2-card" style="float:left; width:50%; margin:0px; margin-top:20px; padding:0px;">
	<div style="padding-top:10px; padding-left:10px">
		<font id="oneTitle" class="font-sm" style="font-weight:bold">역대 대.장.남</font>
		<img src="../img/card_big_small.png" style="width:12%; height:12%; float:right"><br>
	</div>
	<div align="center">
		<img src="../img/ever_djn_card.png" id="oneCardImg" style="width:80px; height:80px; overflow:hidden; border-radius:50%; background-color:#bdbdbd;"/>
	</div>
</div>
<div id="twoCard" onclick="javascript:twoCardClick(false)" class="nd2-card" style="float:left; width:50%; margin:0px; margin-top:20px; padding:0px;">
	<div style="padding-top:10px; padding-left:10px">
		<font id="twoTitle" class="font-sm" style="font-weight:bold">투표</font>
		<img src="../img/card_big_small.png" style="width:12%; height:12%; float:right"><br>
	</div>
	<div align="center">
		<img src="../img/djn_voting_card.png" id="twoCardImg" style="width:80px; height:80px; overflow:hidden; border-radius:50%; background-color:#bdbdbd;"/>
	</div>
</div>

