<div data-role="page" id="ordrInfoPage" style="background-color:#F3F3F3">
	<div data-role="header" data-position="fixed">
		<h1 class="font-lg font-center">주문 정보</h1>
	</div>
	
	<div data-role="content"> 
		<div class="nd2-card" style="border:1px solid #cccccc; margin-bottom: 20px; background-color:#ffffff">
			<div class="card-supporting-text">
	    		<table style="width:100%;">
					<tr>
						<th>
							<h4 style="margin:0px"><span class="font-md" style="color:#8BC34A"><b>주문접수</b></span>가 <span class="font-md" style="color:#8BC34A"><b>완료</b></span>되었습니다.</h4>
						</th>
					</tr>
				</table>
			</div>
		</div>	
		
		<div class="nd2-card" style="border:1px solid #cccccc; margin-bottom: 20px; background-color:#ffffff">
			<div class="card-supporting-text">
	    		<table data-role="table" id="" data-mode="" class="ui-responsive table-stroke font-sm">  		    	 	  	
					<tr style="height:40px">
						<th>
							받는 분
						</th>
						<td>
							김민아
						</td>
					</tr>
					<tr style="height:40px">
						<th>
							희망배달시간
						</th>
						<td>
							오전 11시 30분
						</td>
					</tr>
					<tr style="height:40px">
						<th>
							총 결제 금액
						</th>
						<td>
							20,000원
						</td>
					</tr>
					<tr style="height:40px">
						<th>
							연락처
						</th>
						<td>
							010-6563-9316
						</td>
					</tr>
					<tr style="height:40px">
						<th>
							주소
						</th>
						<td>
							대구 광역시 호산동 경원빌딩 405호
						</td>
					</tr>
					<tr style="height:40px">
						<th>
							결제 방식
						</th>
						<td>
							현금결제
						</td>
					</tr>
					<tr style="height:40px">
						<th>
							수령 방식
						</th>
						<td>
							배달
						</td>
					</tr>
				</table>	    
    		</div>
		</div>
	</div>
	
	<div data-role="content">
		<a href="#" class="ui-btn clr-btn-light-green">
			<font class="font-md col-xs-12 font-btn"><b>확인</b></font>
		</a>
	</div>
</div>