<div data-role="page" id="cusDahamgaePage" class="padding" style="background-color:#F3F3F3">
	<nd2-include data-src="MainCusPanelLeft.html"></nd2-include>
	<nd2-include data-src="MainCusPanelRight.html"></nd2-include>
	<!-- Header 시작 -->
	<div data-role="header" data-position="fixed">
		<a href="#cusLeftPanel" class="ui-btn ui-btn-left" ><i class="zmdi zmdi-dehaze zmd-fw"></i></a>
		<h1 class="font-lg font-center" onclick="$.mobile.changePage('MainCusFrame.html')">DEBEC</h1>		
		<a href="#cusRightPanel" class="ui-btn ui-btn-right" ><i class="zmdi zmdi-apps zmd-fw"></i></a>
		<div>
			<nd2-include data-src="MarketSearchMarket.html"/>
		</div>
		<div data-position="fixed" data-tap-toggle="false">
			<nd2-include data-src="MarketCusNavBarMarket.html"/>
		</div>
	</div>
	<!-- Header 끝 -->	
	<!-- content 시작 -->
	<div class="row" data-inset="false">
		<div>
			<img src="../img/dahamgae.jpg" style="width:100%;"/>
		</div>
	</div>
	
	<div id="dahamgaeContent">
	</div>
	
	<div data-role="content" class="ui-content" data-inset="false">
		<ul data-role="listview" id="cusDahamgaeList">
		</ul>
	</div>
	<!-- content 끝 -->
	<!-- Footer 시작 -->
	<!-- data-tap-toggle="false"를 해서 토글 기능을 제거합니다. -->
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<!-- 하단 툴바 메뉴를 HTML로 바인딩합니다. -->
		<nd2-include data-src="MainCusBottom.html"></nd2-include>
	</div>	
	<!-- Footer 끝 -->
</div>