<div class="row" style="text-align:center">
	<div class="col-xs" style="width:20%">
		<div class="box">
			<a href="MainCusFrame.html" class="ui-btn ui-bottom-sheet-link nd2-btn-icon-block"><i class='zmdi zmdi-home'></i>홈</a>
		</div>
	</div>
	<div class="col-xs" style="width:20%">
		<div class="box">
			<a href="MarketCusDebecChoiceMain.html" class="ui-btn ui-bottom-sheet-link nd2-btn-icon-block"><i class='zmdi zmdi-local-store'></i>마켓</a>
		</div>
	</div>
	<div class="col-xs" style="width:20%">
		<div class="box">
			<a href="RecpList.html" class="ui-btn ui-bottom-sheet-link nd2-btn-icon-block"><i class='zmdi zmdi-local-dining'></i>레시피</a>
		</div>
	</div>
	<div class="col-xs" style="width:20%">
		<div class="box">
			<a href="CommunityList.html" class="ui-btn ui-bottom-sheet-link nd2-btn-icon-block"><i class='zmdi zmdi-accounts'></i>담소방</a>
		</div>
	</div>
	<div class="col-xs" style="width:20%">
	    <div class="box">
	    	<a href="MyPageCusMain.html" onclick="profileType()" class="ui-btn ui-bottom-sheet-link nd2-btn-icon-block"><i class='zmdi zmdi-account-box'></i>내정보</a>
	    </div>
	</div>
</div> 