<div data-role="page" id="empOrdrCancelReadPage" class="nd2-no-menu-swipe">
	<style>
		.ui-input-text:after{
			width:88%;
		}
		.li-border{
			border:1px solid #F6F6F6 !important;
		}
		img{
			margin-top:3.1% !important;
		}
		
	</style>
	<!-- Header 시작 -->
	<div data-role="header" data-position="fixed">
		<a data-rel="back" class="ui-btn ui-btn-left"><img class="back-img" src="http://image.fileslink.com/367affb98f51b8/arrowhead-thin-outline-to-the-left.png"></a>
		<h1 class="font-lg font-center">주문 취소 상세 내역</h1>	
	</div>
	<!-- Header 끝 -->
	<!-- content 시작 -->
	<div role="main" class="ui-content" data-inset="false">
		<div data-role="content">
			<ul id="empOrdrCancelReadList" data-role="listview" data-inset="true">
				
			</ul>
		</div>
	</div>
	<!-- content 끝 -->
</div>