<div data-role="page" id="shipngPlcPostPage">
	<div data-role="header" data-position="fixed">
		<a href="MyPageCusShipngPlcCreate.html" class="ui-btn ui-btn-left"><img class="back-img" src="http://image.fileslink.com/367affb98f51b8/arrowhead-thin-outline-to-the-left.png"></a>
		<h1>우편번호 찾기</h1>
	</div>	
	<form name="shipngPlcForm" id="shipngPlcForm" method="post">
		<input type="hidden" name="currentPage" value="1"/>				<!-- 요청 변수 설정 (현재 페이지) -->
		<input type="hidden" name="countPerPage" value="10"/>				<!-- 요청 변수 설정 (페이지당 출력 개수) -->
		<input type="hidden" name="confmKey" value="U01TX0FVVEgyMDE2MDkyNzIyMzAwNDE1NDEy"/>		<!-- 요청 변수 설정 (승인키) -->
		<input type="text" name="keyword" value=""/>						<!-- 요청 변수 설정 (키워드) -->
		<input type="button" onClick="getShipngPlcAddr();" value="주소검색하기"/>
		<div>찾고 싶으신 주소의 동(읍/면)이름을 입력해 주세요.<br>
			예)청담1동, 한강로3가, 수지읍
		</div>
		<div id="shipngPlcPostList"> <!-- 검색 결과 리스트 출력 영역 --> </div>
		<div class="paginate" id="shipngPlcPostpageApi" style="text-align: center; font-size: 10px; margin-top: 10px;"></div>
		<div id="shipngPlcPostDetail" style="display: none;">
			<div id="sendShipngPlcZipNo"></div>
			<div id="sendShipngPlcRoadAddr"></div>
			<div><input type="text" id="postShipngPlcDetail" placeholder="상세주소를 입력해주세요."></div>
			<div><input type="button" value="확인" onclick="postAdrrsShipngPlcDetail()"></div>
		</div>
	</form>
	<div id="postShipngPlcName" style="display: none"></div>
	<div id="postRecvrName" style="display: none"></div>
	<div id="postRecvrTel_hp" style="display: none"></div>
</div>