<div data-role="page" id="searchProdctPage" class="nd2-no-menu-swipe">
	<style>		
	/* 	ul li  */
	ul{
		border-top: 2px solid #8BC34A;
		border-left: 1px solid #9E9E9E;
		border-right: 1px solid #9E9E9E;			
	}
	li{
		border-bottom: 1px solid #9E9E9E;
	}
	.ui-input-text:after{
		width:88%;
	}
	.ui-input-text{
		margin: 0 0 0 0;
	}
	
	/* 	체크 박스  */
	input[type=checkbox].custom-check{ 
	    position: absolute; overflow:hidden; width:10px; height:10px; 
	    clip:rect(0 0 0 0);margin:-1px;padding:0;border:0; 
	} 
	 
	input[type=checkbox].custom-check + label.custom-check{ 
	    display:inline-block; 
	    padding-left:5em; 
	} 
	 
	input[type=checkbox].custom-check:checked + label.custom-check:before{ 
	    position:absolute; margin-left:-5em; 
	    content:'✔'; 
	}
	</style>
	<!-- Header 시작 -->
	<!-- Header 시작 -->
	<div data-role="header" data-position="fixed">
		<a data-rel="back" class="ui-btn ui-btn-left"><img class="back-img" src="http://image.fileslink.com/367affb98f51b8/arrowhead-thin-outline-to-the-left.png"></a>
		<h1 class="font-lg font-center">레시피 상품 검색</h1>
		<div>
			<div id="heading-1" class="ui-body ui-header">
				<form method="post" action="">
					<div class="row">
						 <div class="col-xs-10">
							<input type="search" name="recpSechText" id="recpSechText">
						</div>
						<div class="ui-input-btn ui-btn ui-icon-search ui-btn-icon-notext col-xs-2" >
							<input data-enhanced="true" type="button" value="Submit" id="recpSearchBtn" name="recpSearchBtn" onclick="javascript:recpProdctSearch()"/>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
	<!-- Header 끝 -->
	<!-- content 시작 -->
	
	<div role="main" class="ui-content" data-inset="false">
		<ul data-role="listview" id="recpProdctList">
		</ul>   
       </div>
       <!-- content 끝 -->
	<!-- Footer 시작 -->
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
      <!-- 하단 툴바 메뉴를 HTML로 바인딩합니다. -->
      <nd2-include id="recpFooter" data-src="MainCusBottom.html"></nd2-include>
   </div>
	<!-- Footer 끝 -->
</div>