<div id="heading-1" class="ui-body ui-header">
	<form method="post" action="">
		<div class="row">
			 <div class="col-xs-10">
				<input type="search" name="recpSechText" id="recpSechText">
				<input type="hidden" name="pageType" id="pageType">
			</div>
			<div class="ui-input-btn ui-btn ui-icon-search ui-btn-icon-notext col-xs-2" >
				<input data-enhanced="true" type="button" value="Submit" id="recpSearchBtn" name="recpSearchBtn" onclick="javascript:recpTitlSearch()"/>
			</div>
		</div>
	</form>	
</div>

