	<div data-role="page" id="recpReadPage" class="nd2-no-menu-swipe">
	<style>
	.ui-input-text:after{
		width:88%;
	}
	</style>	
	<!-- Header 시작 -->
	<div data-role="header" data-position="fixed">
		<a href="RecpList.html" id="recpReadBack" class="ui-btn ui-btn-left"><img class="back-img" src="http://image.fileslink.com/367affb98f51b8/arrowhead-thin-outline-to-the-left.png"></a>		
		<h1 class="font-lg font-center" id="recpTitl" name="recpTitl">선택된 레시피 제목</h1>	
		<a href="#recpPopupDialog" class="ui-btn ui-btn-right" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop"><i class="zmdi zmdi-apps zmd-fw"></i></a>
	</div>
	<!-- Header 끝 -->
	<!-- content 시작 -->
	<div data-role="popup" id="recpPopupDialog">         
		<div data-role="header">
			<h1 class='nd-title'>레시피 메뉴</h1>
      	</div>
   </div>
	<div role="main" class="ui-content" data-inset="false" >
		<div data-role="content" style="padding:0px;">
			<div class="nd2-card">	

				<div class="card-media">
					<img id="recpImg" name ="recpImg" src="../../img/noImg.jpg" style="width:100%;height:250px;">
				</div>
				<br>
				<div>
					<ul data-role="listview" id="recpProdctList" data-icon="false" class="ui-listview">
						
					</ul>
				</div>
				<div class="card-supporting-text has-action">
					<font class="font-sm" id="recpCnt" name="recpCnt"></font>
				</div> 	
				<div class="card-action" id="statDiv">
					<div class="col-xs-6w">
						<font class="font-sm" id="stat" name="stat"></font><br>
						<a id="likeMark" href="" class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button">
						<img id="likeImg" src=""  width="32" height="32">
						</a>
						<a id="replyMark" href="javascript:replyCntFocus(1);" class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button">
							<i class="zmdi zmdi-comment zmd-2x"></i>
						</a>
						<div id="cartButton"></div>
						<br>
						<div style="width:80%;float:left;" id="replyCntDiv">
							<input type="text" name="replyCnt" id="replyCnt" value="" data-clear-btn="true" placeholder="댓글쓰기" style="width:80%" onload="javascript:replyCntFocus()">
						</div>
						<a id = "recpBtn" onclick="javascript:recpReplyInserts(1)" class="ui-btn ui-btn-raised font-btn">쓰기</a>			
					</div>
				</div>
				<div class="col-xs-11">
					<table id="replyTb" style="width:100%;table-layout:fixed">

					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- content 끝 -->
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
      <!-- 하단 툴바 메뉴를 HTML로 바인딩합니다. -->
      <nd2-include id="recpFooter" data-src="MainCusBottom.html"></nd2-include>
   </div>
</div>