@CHARSET "UTF-8";
/* 미리보기 스타일 셋팅 */
#preview{
    z-index: 9999;
    position:absolute;
    border:0px solid #ccc;
    background:#333;
    padding:1px;
    display:none;
    color:#fff;
}
/* 이미지 썸네일 */
.thumbnail{
   display:inline;
   margin-bottom:0px;
   height:50px;
   width:50px;
}