<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="loginMapper">

	<resultMap id="loginValues" type="loginVo">
		<result property="empSeq" column="emp_seq"/>
		<result property="empId" column="id"/>
		<result property="empPw" column="pw"/>
		<result property="empNme" column="nme"/>
		<result property="empMobl" column="mobl"/>
		<result property="idResult" column="id_result"/>
		<result property="idCount" column="id_count"/>
		
		<!-- 직원 권한 -->
		<result property="empAthrty" column="emp_athrty"/>
		<result property="clintAthrty" column="clint_athrty"/>
		<result property="prodctAthrty" column="prodct_athrty"/>
		<result property="cutmrAthrty" column="cutmr_athrty"/>
		<result property="todayAthrty" column="today_athrty"/>
		<result property="vactnAthrty" column="vactn_athrty"/>
		<result property="exchngFlorAthrty" column="exchng_flor_athrty"/>
		<result property="evntAthrty" column="evnt_athrty"/>
		<result property="pushNotfcatnAthrty" column="push_notfcatn_athrty"/>
		<result property="prodctAnlysAthrty" column="prodct_anlys_athrty"/>
		<result property="schedlAthrty" column="schedl_athrty"/>
		<result property="stckAthrty" column="stck_athrty"/>
		<result property="togetherAthrty" column="together_athrty"/>
		<result property="ordrRecrdAthrty" column="ordr_recrd_athrty"/>
		<result property="ordrAnlysAthrty" column="ordr_anlys_athrty"/>
		<result property="useAgremtAthrty" column="use_agremt_athrty"/>
		<result property="salsAnlysAthrty" column="sals_anlys_athrty"/>
		<result property="DJNAthrty" column="djn_athrty"/>
	</resultMap>
	
	<select id="login" parameterType="loginVo" resultType="int">
		SELECT
			COUNT(emp_seq)
		FROM
			emp_tb
		WHERE
			id = #{empId}
		AND
			pw = #{empPw};
	</select>
	
	<select id="empInfoRead" parameterType="loginVo" resultMap="loginValues">
		SELECT e.emp_seq
			 , e.id
			 , e.nme
			 , e.mobl
   	  	     , a.emp_athrty
			 , a.clint_athrty
			 , a.prodct_athrty
			 , a.cutmr_athrty
			 , a.today_athrty
			 , a.vactn_athrty
			 , a.exchng_flor_athrty
			 , a.evnt_athrty
			 , a.push_notfcatn_athrty
			 , a.prodct_anlys_athrty
			 , a.schedl_athrty
			 , a.stck_athrty
			 , a.together_athrty
			 , a.ordr_recrd_athrty
			 , a.ordr_anlys_athrty
			 , a.use_agremt_athrty
			 , a.sals_anlys_athrty
			 , a.djn_athrty
		FROM emp_tb e
		LEFT JOIN athrty_tb a 
			   ON a.emp_seq = e.emp_seq
		WHERE
			id = #{empId}
		AND
			pw = #{empPw};
	</select>
	
	<select id="pwCheckDataRead" parameterType="loginVo" resultType="int">
		SELECT
			  COUNT(emp_seq)
		FROM
			emp_tb
		WHERE
			emp_seq = #{empSeq}
		AND
			pw = #{empPw};
	</select>
	
	<!--아이디 중복확인 -->
	<select id="idCheck_1" parameterType="String" resultType="int">
		SELECT
		COUNT(id) AS idCount
		FROM emp_tb
		WHERE id = #{empId};
	</select>
	
	<!--아이디 중복확인 -->
	<select id="idCheck_2" parameterType="String" resultType="int">
		SELECT
		COUNT(custmr_id) AS idCount
		FROM custmr_tb
		WHERE custmr_id = #{empId};
	</select>
	
</mapper>
